* {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vmax;
}
body {
    margin: 0;
}
p, strong, i, li {
    max-width: 60ch;
    font-size: 2vmax;
}
header {
    background-color: cadetblue;
    padding: 2vmax;
}
h1 {
    font-size: 10vmax;
    letter-spacing: 0.07em;
    border-bottom: solid 4px black;
    margin: 0;
}
nav {
    width: 90%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
h1 {
    color:rgb(224, 38, 38);
}
a{
    color: blue;
}
a:hover {
    color: rgb(8, 29, 92);
}
footer {
    background-color: cadetblue;
    position: absolute;
    width: 100%;
}
h6 {
    font-size: 3vmax;
    margin-left: 2em;
}
#current {
    color: rgb(224, 38, 38);
}

/*Index*/
#index {
    margin: 1em;
}
#index div div {
    margin-left: 3%;
}
h2, h4 {
    background-color: #006596;
    max-width: 100%;
}
h4 {
    max-width: 90%;
    margin-left: 0;
}
h3 {
    max-width: 95%;
    background-color: #0089CC;
    margin-left: 1%;
}
h2, h4, h3{
    font-size: 4vmax !important;
    color: #fff;
    text-indent: 5px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}
strong {
    font-weight: 600;
    font-size: inherit;
}
ul {
    margin-top: 0.1em;
}
li {
    margin-bottom: 0.6em;
}


/*Images*/
#alt-img {
    display: none;
}
.images {
    display: flex;
    justify-content: space-around;
}
.images div {
    background-color: mediumaquamarine;
    padding: 3%;
    margin: 1%;
    border-radius: 10%;
}
img {
    width: 100%;
}
h2 {
    font-size: 3.2vmax;
    margin: 0.2em;
    margin-left: 0;
}

/*another image row for small screens*/
@media screen and (max-width: 1024px) {
    nav {
        width: 100%;
    }
    #hide-img {
        display: none;
    }
    #alt-img {
        display: block;
    }
}